.shop-name {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #597588;
    color: #333;
}

nav {
    position: relative;
    background-color: #333;
    padding: 15px;
}

.menu-toggle {
    font-size: 10px;
    color: white;
    cursor: pointer;
    display: none;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
}

#nav-list li {
    margin-left: 20px;
}

#nav-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#nav-list a:hover {
    background-color: #555;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #333;
        display: none;
        z-index: 1;
        width: 100%;
        padding: 20px 0;
    }

    #nav-list.show {
        display: flex;
    }

    #nav-list li {
        margin: 10px 0;
    }

    #nav-list a {
        font-size: 18px;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.S1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 4);
    margin-right: 50px;
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}